body {
  font-family: "Gillius", sans-serif;
  font-size: 11pt;
}
input {
  border: none;
  border-bottom: 1px solid #999;
}
tt {
  font-family: "Inconsolata", fixed;
  font-weight: bold;
  font-size: 9pt;
}

#results {
}

.number {
  margin: 3px;
  padding: 20px;
  border: 1px solid #999;
}
.lnum {
  margin: 1px;
}
.gnum {
  margin: 1px;
}
.endpoint {
  margin: 1px;
}
.calls {
  margin: 1px;
  font-family: "Inconsolata", fixed;
  font-size: 9pt;
}

/* trace.coffee */
.packet span {
  margin: 1px;
  font-family: "Inconsolata", fixed;
  font-size: 9pt;
}
.packet .time {
  font-size: 7pt;
}
.packet .callid {
  font-size: 7pt;
  color: #aaa;
}
.packet .src {
  color: red;
}
.packet .dst {
  color: green;
}
.packet .from {
  color: red;
}
.packet .to {
  color: green;
}
.packet .method {
  font-weight: bold;
}
.packet .status {
  font-weight: bold;
}
.packet.split-true {
  border-top: 1px solid #999;
}

.location.registered {
  background-color: #cfff94;
}
.location.not-registered {
  background-color: #ff9496;
}

.query {
  font-size: small;
}

h2 {
  margin-bottom: 0.2ex;
}

.current {
  border: thick solid rgba(255,255,0,0.5);
}

.palette_0 { background-color: #ffbc99; }
.palette_1 { background-color: #ffc899; }
.palette_2 { background-color: #ffd399; }
.palette_3 { background-color: #ffde99; }
.palette_4 { background-color: #ffe899; }
.palette_5 { background-color: #fff299; }
.palette_6 { background-color: #ffe599; }
.palette_7 { background-color: #ffef99; }
.palette_8 { background-color: #fff899; }
.palette_9 { background-color: #feff99; }
.palette_10 { background-color: #daff91; }
.palette_11 { background-color: #a8ff7c; }
.palette_12 { background-color: #60ff4f; }
.palette_13 { background-color: #25ffa5; }
.palette_14 { background-color: #1dcfff; }
.palette_15 { background-color: #88b9f9; }
.palette_16 { background-color: #afbcf4; }
.palette_17 { background-color: #c8c4f4; }
.palette_18 { background-color: #e6f1b1; }
.palette_19 { background-color: #c8f1b1; }
.palette_20 { background-color: #b6f1b1; }
.palette_21 { background-color: #b1f1e9; }
.palette_22 { background-color: #ecc298; }
.palette_23 { background-color: #eccb98; }
.palette_24 { background-color: #ecd098; }
.palette_25 { background-color: #ecd898; }
.palette_26 { background-color: #ece398; }
.palette_27 { background-color: #e7ec98; }
.palette_28 { background-color: #ece598; }
.palette_29 { background-color: #d3ec98; }
.palette_30 { background-color: #a7ec98; }
.palette_31 { background-color: #98ecd3; }
.palette_32 { background-color: #98bdec; }
.palette_33 { background-color: #9f98ec; }
.palette_34 { background-color: #ecd598; }
.palette_35 { background-color: #ecec98; }
.palette_36 { background-color: #caec98; }
.palette_37 { background-color: #9bec98; }
.palette_38 { background-color: #98ece6; }
.palette_39 { background-color: #98afec; }
